{"insertion_index": 3, "n_aug_words": 17, "n_base_words": 32000, "fun_map": {"3": "<BOC>", "4": "<EOC>", "5": "<BOR>", "6": "<EOR>", "7": "<add>", "8": "<subtract>", "9": "<multiply>", "10": "<divide>", "11": "<power>", "12": "<sqrt>", "13": "<log>", "14": "<ln>", "15": "<lcm>", "16": "<gcd>", "17": "<remainder>", "18": "<choose>", "19": "<permutate>"}, "boc_id": 3, "eoc_id": 4, "bor_id": 5, "eor_id": 6}